<ion-header>
  <ion-toolbar>
    <ion-title>Infos utilisateur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <div class="flex-jacenter">
      <div class="flex-jacenter">
        <img src="../../../assets/images/logo.png" alt="logo LeanCo" class="logo" />
      </div>
      <div style="max-width: 600px; margin-top: 15px">
        <div *ngIf="infos$ | async as infos">
          <div class="line-obj">
            <strong>Infos</strong>
            <span>{{ infos | json }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
